<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
<head>
    <!-- HEAD -->
    <div th:replace="layout/head :: head"></div>
    <!-- /HEAD -->
</head>
<body>
<!-- HEADER -->
<div th:replace="layout/header :: appHeader"></div>
<!-- /HEADER -->

<!-- MAIN -->
<main>
    <div class="container">
        <form action="#" th:action="@{/dishManager/save}" th:object="${dish}" method="POST">
            <div class="form-group">

                <!-- 0. ID -->
                <input type="hidden" th:field="*{id}" name="id" id="id">

                <!-- 1. NAME -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <input type="text" th:field="*{name}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>

                <!-- 2. CATEGORY -->
                <!-- TODO: CAMBIAR POR UN COMBO-BOX -->
                <div class="form-group row">
                    <label>Categoría</label>
                    <input type="number" th:field="*{category}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small>
                </div>

                <!-- 3. DISH LABEL ONE -->
                <div class="form-group row">
                    <label>Etiqueta 1</label>
                    <input type="number" th:field="*{dishLabelOne}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('dishLabelOne')}" th:errors="*{dishLabelOne}"></small>
                </div>

                <!-- 4. DISH LABEL TWO -->
                <div class="form-group row">
                    <label>Etiqueta 2</label>
                    <input type="number" th:field="*{dishLabelTwo}" class="form-control">
                </div>

                <!-- 5. DISH LABEL THREE -->
                <div class="form-group row">
                    <label>Etiqueta 3</label>
                    <input type="number" th:field="*{dishLabelThree}" class="form-control">
                </div>

                <!-- 6. DESCRIPTION -->
                <div class="form-group row">
                    <label>Descripción del plato</label>
                    <input type="text" th:field="*{description}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                </div>

                <!-- 7. INGREDIENTS -->
                <div class="form-group row">
                    <label>Ingredientes</label>
                    <input type="text" th:field="*{ingredients}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></small>
                </div>

                <!-- 8. PRICE -->
                <div class="form-group row">
                    <label>Precio</label>
                    <input type="number" step="0.01" th:field="*{price}" class="form-control" th:errorClass="'form-control alert-danger'">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                </div>

                <!-- 9. IMAGEN -->
                <div class="form-group row">
                    <label>Adjuntar imagen del plato</label>
                    <input type="text" th:field="*{imagen}" class="form-control">
                </div>
                <br>

                <!-- 10. AVAILABLE -->
                <label>¿Disponible?</label>
                <input type="checkbox" checked="checked" th:field="*{available}">
                <br>
                <br>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-success">Guardar</button>
                <!-- END SUBMIT BUTTON -->

            </div> <!-- END FORM GROUP -->
        </form> <!-- END FORM ACTION -->
    </div>
</main> <!-- END MAIN -->

<!-- FOOTER -->
<div th:replace="layout/footer :: appFooter"></div>
<!-- END FOOTER -->
</body>
</html>