<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
<head>
    <!-- HEAD -->
    <div th:replace="layout/head :: head"></div>
    <!-- /HEAD -->
</head>
<body>
<!-- HEADER -->
<div th:replace="layout/header :: appHeader"></div>
<!-- /HEADER -->

<!-- MAIN -->
<main>
    <div class="container">
        <form action="#" th:action="@{/dishManager/save}" th:object="${dish}" method="POST">
            <div class="form-group">

                <!-- 0. ID -->
                <input type="hidden" th:field="*{id}" name="id" id="id">
                <!-- 1. NAME -->
                <label>Nombre</label>
                <input type="text" class="form-control" th:field="*{name}" name="name">
                <!-- 2. CATEGORY -->
                <!-- TODO: CAMBIAR POR UN COMBO-BOX -->
                <label>Categoría</label>
                <input type="number" class="form-control" th:field="*{category}"  name="category">
                <!-- 3. DISH LABEL ONE -->
                <label>Etiqueta 1</label>
                <input type="number" class="form-control" th:field="*{dishLabelOne}"  name="dish_label_one">
                <!-- 4. DISH LABEL TWO -->
                <label>Etiqueta 2</label>
                <input type="number" class="form-control" th:field="*{dishLabelTwo}"  name="dish_label_two">
                <!-- 5. DISH LABEL THREE -->
                <label>Etiqueta 3</label>
                <input type="number" class="form-control" th:field="*{dishLabelThree}"  name="dish_label_three">
                <!-- 6. DESCRIPTION -->
                <label>Descripción del plato</label>
                <input type="text" class="form-control" th:field="*{description}"  name="description">
                <!-- 7. INGREDIENTS -->
                <label>Ingredientes</label>
                <input type="text" class="form-control" th:field="*{ingredients}"  name="ingredients">
                <!-- 8. PRICE -->
                <label>Precio</label>
                <input type="number" step="0.01" class="form-control" th:field="*{price}"  name="price">
                <!-- 9. IMAGEN -->
                <label>Adjuntar imagen del plato</label>
                <input type="text" class="form-control" th:field="*{imagen}"  name="imagen">
                <br>
                <!-- 10. AVAILABLE -->
                <label>¿Disponible?</label>
                <input type="checkbox" checked="checked" th:field="*{available}"  name="available">
                <br>
                <br>
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-success">Guardar</button>
                <!-- END SUBMIT BUTTON -->

            </div> <!-- END FORM GROUP -->
        </form> <!-- END FORM ACTION -->
    </div>
</main> <!-- END MAIN -->

<!-- FOOTER -->
<div th:replace="layout/footer :: appFooter"></div>
<!-- END FOOTER -->
</body>
</html>