<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
<head>
<!-- HEAD -->
<div th:replace="layout/head :: head"></div>
<!-- /HEAD -->
</head>
<body>
<!-- HEADER -->
<div th:replace="layout/header :: appHeader"></div>
<!-- /HEADER -->

<!-- MAIN -->
<main style="border: solid orange; height: 500px;">
    <h1 th:text="${title}"></h1>

    <!-- ADD BUTTON -->
    <div>
        <a href="/dishManager/save/0" class="btn btn-primary">Agregar nuevo plato</a>
    </div>
    <!-- END ADD BUTTON -->

    <!-- CASE1: WHEN THERE'RE NOT DISHES -->
    <h2 th:if="${dishes.isEmpty()}">Aún no hay platos agregados</h2>
    <!-- CASE2: WHEN THERE ARE DISHES -->
    <div th:if="${!dishes.isEmpty()}">

        <!-- DISHES TABLE -->
        <table class="table">
            <thead style="border: solid lightgrey">
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">categoría</th>
            <th scope="col">etiqueta 1</th>
            <th scope="col">etiqueta 2</th>
            <th scope="col">etiqueta 3</th>
            <th scope="col">descripción</th>
            <th scope="col">ingredientes</th>
            <th scope="col">precio</th>
            <th scope="col">imagen</th>
            <th scope="col">disponible</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </thead>
            <tbody>
            <tr scope="row" th:each="dish: ${dishes}" style="border: solid brown">
                <td th:text="${dish.id}"></td>
                <td th:text="${dish.name}"></td>
                <td th:text="${dish.category}"></td>
                <td th:text="${dish.dishLabelOne}"></td>
                <td th:text="${dish.dishLabelTwo}"></td>
                <td th:text="${dish.dishLabelThree}"></td>
                <td th:text="${dish.description}"></td>
                <td th:text="${dish.ingredients}"></td>
                <td th:text="${dish.price}"></td>
                <td th:text="${dish.getImagen()}"></td>
                <td th:text="${dish.getAvailable()}"></td>
                <td><a th:href="@{/dishManager/save/{id}(id=${dish.id})}">Editar</a></td>
                <td><a th:href="@{/dishManager/delete/{id}(id=${dish.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table> <!-- END DISHES TABLE -->

    </div> <!-- END CASE2: WHEN THERE ARE DISHES -->

</main> <!-- END MAIN -->

<!-- FOOTER -->
<div th:replace="layout/footer :: appFooter"></div>
<!-- END FOOTER -->
</body>
</html>