<html>
    <body>
        <div id="header" class="container-fluid" th:fragment="appHeader">

            <div class="row" style="border: solid red;">
                <!-- LOGO -->
                <div class="col-sm" style="border: solid lightblue;">
                    <a class="logo" href="/"><img src="" alt="logo"></a>
                </div>
                <!-- NAVBAR -->
                <div class="col-sm" style="border: solid orange;">

                </div>
                <!-- PROFILE ICON + CART ICON -->
                <div class="col-sm" style="border: solid pink;">

                </div>
            </div>

        </div>
    </body>
</html>