<html xmlns:sec="http://www.w3.org/1999/xhtml">
    <body>
        <div id="header" class="row header fixed-top shadow-sm rounded-bottom" th:fragment="appHeader">
            <nav class="navbar navbar-expand-md navbar-brown">
                <!-- Container wrapper -->
                <div class="container-fluid">
                    <!-- Toggle button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper admin -->
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Navbar brand -->
                        <a class="navbar-brand ms-4" href="/">
                            <img src="/images/logoLeftBrown.png" class="ms-3" width="180" height="70" alt="logo">
                        </a>
                        <!-- Left links -->
                        <ul class="navbar-nav ms-5 me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/dishManager">Administración de Platos</a>
                            </li>
                        </ul>
                        <!-- Left links -->
                    </div>
                    <!-- /Collapsible wrapper admin -->

                    <!-- Collapsible wrapper user -->
                    <div sec:authorize="!hasRole('ROLE_ADMIN')" class="collapse navbar-collapse" id="navbarSupportedContentUser">
                        <!-- Navbar brand -->
                        <a class="navbar-brand ms-4" href="/">
                            <img src="/images/logoLeftBrown.png" class="ms-3" width="180" height="70" alt="logo">
                        </a>
                        <!-- Left links -->
                        <ul class="navbar-nav ms-5 me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Menu</a>
                            </li>
                        </ul>
                        <!-- Left links -->
                    </div>
                    <!-- /Collapsible wrapper user-->

                    <!-- Right elements -->
                    <div class="d-flex align-items-center">
                        <!-- Icon -->
                        <a class="text-reset me-3" href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>

                        <div sec:authorize="!isAuthenticated()" class="dropdown">
                            <a class="text-reset me-3 " href="/login" role="button">
                                <span class="btn btn-outline-brown">Iniciar Sesión</span>
                            </a>
                        </div>

                        <!-- Notifications -->
                        <div sec:authorize="isAuthenticated()" class="dropdown">
                            <a class="text-reset me-3 " href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bell"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">1</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Mensajes</a>
                                </li>
                            </ul>
                        </div>

                        <!-- USER AVATAR OPTIONS -->
                        <div sec:authorize="hasRole('ROLE_USER')" class="dropdown">
                            <a class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuAvatarUser" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/adminAvatar.webp" class="rounded-circle" height="25" alt="User Avatar"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatarUser">
                                <li>
                                    <a class="dropdown-item" href="#">Perfil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Historial de Pedidos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Configuración</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>

                        <!-- ADMIN AVATAR OPTIONS -->
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                            <a class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuAvatarAdmin" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/adminAvatar.webp" class="rounded-circle" height="25" alt="User Avatar"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatarAdmin">
                                <li>
                                    <a class="dropdown-item" href="#">Perfil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Historial de Ventas</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Configuración</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Right elements -->
                </div>
                <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->
        </div>
    </body>
</html>