<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
<head>
    <!-- HEAD -->
    <div th:replace="layout/head :: head"></div>
    <!-- /HEAD -->
</head>
<body>
    <!-- HEADER -->
    <div th:replace="layout/header :: appHeader"></div>
    <!-- /HEADER -->

    <main>
        <!-- CARROUSEL -->
        <div class="container-fluid" style="height: 250px; border: solid brown;">
            <h5 style="text-align: center">CARROUSEL PLATOS DEL DÍA</h5>
        </div> <!-- /CARROUSEL -->

        <!-- DISHES -->
        <div class="container-fluid" style="border: solid blue">

            <!-- DISH-DEFINITIONS -->
            <div class="row" style="border: solid lightslategray">
                <p>Courses type name | explanation of courses</p>
            </div> <!-- /DISH-DEFINITIONS -->

            <!-- DISHES CONTAINER -->
            <div class="row" style="border: solid purple">

                <!-- FOR EACH DISH -->
                <div th:each="dish: ${dishes}" style="border: solid darkred; height: 200px; width: 200px">
                    <h4 th:text="${dish.name}"></h4>
                    <ul>
                        <li th:text="${dish.price}"></li>
                    </ul>
                </div> <!-- END FOR EACH DISH -->

            </div> <!-- /DISHES CONTAINER -->

        </div> <!-- /DISHES -->

    </main>

    <!-- FOOTER -->
    <div th:replace="layout/footer :: appFooter"></div>
    <!-- /FOOTER -->
</body>
</html>