<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- HEAD -->
    <div th:replace="layout/head :: head"></div>
    <!-- /HEAD -->
</head>
<body>
    <div class="container-fluid p-0">

        <!-- HEADER -->
        <div th:replace="layout/header :: appHeader"></div>
        <!-- /HEADER -->

        <main>
            <!-- ALERTS MESSAGES  -->
            <div th:if="${param.loginSuccess}">
                <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center">
                    <p>Se ha iniciado sesión correctamente. ¡¡¡Bienvenido <span sec:authentication="name"></span>!!!</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div th:if="${ info != null}">
                <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-center">
                    <p th:text="${ info }"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div th:if="${param.logoutSuccess}">
                <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-center">
                    La sesión ha finalizado correctamente.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <!-- END ALERT MESSAGES  -->

            <!-- CAROUSEL -->
            <div th:replace="layout/carousel :: carousel"></div>
            <!-- /CAROUSEL -->

            <!-- DISHES -->
            <!-- MAIN COURSE -->
            <div class="row mt-4 mb-4 dish-container">
                <div class="row">
                    <p class="m-0">
                        <span class="title-category">Platos Principales</span>
                        <span class="title-subcategory">| Raciones de 420-500 gramos pensados para una comida o cena completa</span>
                    </p>
                </div>
                <div class="row">
                    <!-- FOR EACH DISH -->
                    <div th:replace="layout/dishes :: showDish"></div>
                    <!-- END FOR EACH DISH -->
                </div>
            </div>
            <!-- /MAIN COURSE -->
            <!-- SECOND COURSE -->
            <div class="row mt-4 dish-container">
                <div class="row">
                    <p class="m-0">
                        <span class="title-category">Platos de Segundo</span>
                        <span class="title-subcategory"> | Con mayor porcentaje de verduras y sabores suaves</span>
                    </p>
                </div>
                <div class="row">
                    <!-- FOR EACH DISH -->
                    <div th:replace="layout/dishes :: showDish"></div>
                    <!-- END FOR EACH DISH -->
                </div>
            </div>
            <!-- SECOUND COURSE -->
            <!-- DESERT -->
            <div class="row mt-4 dish-container">
                <div class="row">
                    <p class="m-0">
                        <span class="title-category">Postre</span>
                        <span class="title-subcategory"> | Un toque dulce para terminar una rica comida</span>
                    </p>
                </div>
                <div class="row">
                    <!-- FOR EACH DISH -->
                    <div th:replace="layout/dishes :: showDish"></div>
                    <!-- END FOR EACH DISH -->
                </div>
            </div> <!-- /DESERT -->
            <!-- DRINKS -->
            <div class="row mt-4 dish-container">
                <div class="row">
                    <p class="m-0">
                        <span class="title-category">Bebidas</span>
                        <span class="title-subcategory">| Refrescos fríos para complementar tu comida</span>
                    </p>
                </div>
                <div class="row">
                    <!-- FOR EACH DISH -->
                    <div th:replace="layout/dishes :: showDish"></div>
                    <!-- END FOR EACH DISH -->
                </div>
            </div>
            <!-- /DRINKS -->
            <!-- /DISHES -->

        </main>

        <!-- FOOTER -->
        <div th:replace="layout/footer :: appFooter"></div>
        <!-- /FOOTER -->
    </div>
</body>
</html>