<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="www.thymeleaf.org">
<head>
    <!-- HEAD -->
    <div th:replace="layout/head :: head"></div>
    <!-- /HEAD -->
</head>
<body>

    <!-- HEADER -->
    <div th:replace="layout/header :: appHeader"></div>
    <!-- /HEADER -->

    <!-- REGISTER CONTAINER -->
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">

                <!-- FLASH ALERT -->
                <!-- END FLASH ALERT -->

                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <!-- TITLE -->
                        <h2 class="mb-3 text-center">Regístrate</h2>
                        <!-- END TITLE -->
                    </div>
                </div>

                <!-- NEW USER FORM CONTAINER -->
                <form th:action="@{/register}" method="POST" th:object="${user}">
                    <!-- INPUT NAME -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 form-group mb-2">
                            <label class="form-label" for="name" >Nombre: </label>
                            <input id="name" type="text" class="form-control" th:field="*{name}" th:errorClass="is-invalid" autofocus>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                        </div> 
                    </div> <!-- EMD INPUT NAME -->

                    <!-- INPUT SURNAME -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 form-group mb-2">
                            <label class="form-label" for="surname" >Apellidos: </label>
                            <input id="surname" type="text" class="form-control" th:field="*{surname}" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="invalid-feedback"></div>
                        </div>
                    </div> <!-- END INPUT SURNAME -->

                    <!-- INPUT EMAIL -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 form-group mb-2">
                            <label class="form-label" for="email" >Email: </label>
                            <input id="email" type="email" class="form-control" th:field="*{email}" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                        </div>
                    </div> <!-- END INPUT EMAIL -->

                    <!-- INPUT PASSWORD -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 form-group mb-4">
                            <label class="form-label" for="password" >Contraseña: </label>
                            <input id="password" type="password" class="form-control" th:field="*{password}" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                        </div>
                    </div> <!-- END INPUT PASSWORD -->

                    <!-- BTN SUBMIT: NEW USER FORM -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 form-group text-center">
                            <button type="submit" class="form-control btn btn-addDish">Registrar</button>
                            <span>¿Ya estás registrado? <a th:href="@{/login}">Inicia sesión</a></span>
                        </div>
                    </div> <!-- END BTN SUBMIT: NEW USER FORM -->

                </form> <!-- END NEW USER FORM CONTAINER -->

            </div>
        </div>
    </main> <!-- END REGISTER CONTAINER -->

    <!-- FOOTER -->
    <div th:replace="layout/footer :: appFooter"></div>
    <!-- /FOOTER -->
</body>
</html>